<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocalNetworkUsageDescription</key>
    <string>MultiPeerDemo needs to access your local network to discover and connect to nearby devices.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_mpd-messages._tcp</string>
        <string>_mpd-messages._udp</string>
    </array>
</dict>
</plist>